[cola]
	startupmode = folder
	spellcheck = false
	icontheme = dark
	theme = flat-dark-red

[user]
	name = Sotiris Dimitrakopoulos
	email = dimisotiris@yahoo.com

[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
    ; external = difft

[push]
	autoSetupRemote = true

[alias]
    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff
