[cola]
	startupmode = folder
	spellcheck = false
	icontheme = dark
	theme = flat-dark-red

[user]
	name = Sotiris Dimitrakopoulos
	email = dimisotiris@yahoo.com

[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[push]
	autoSetupRemote = true
