export HIVE_PI_USER=...(poetry..work)
export HIVE_PI_PASSWORD=...(poetry..work)
export _AZURE_OPENAI_ENDPOINT=...(nvim..gp)
export _AZURE_OPENAI_KEY=...(nvim..gp)
# export STORAGE_ACCOUNT=...
# export STORAGE_USERNAME=..
# export STORAGE_SECRET=...
export AZURE_API_VERSION=...(aider)
export AZURE_API_BASE=...(aider)
export AZURE_API_KEY=...(aider)
