export HIVE_PI_USER=...
export HIVE_PI_PASSWORD=...
export AZURE_OPENAI_KEY=...
export STORAGE_ACCOUNT=...
export STORAGE_USERNAME=..
export STORAGE_SECRET=...
#  For aider if I want to ask question
export AZURE_API_VERSION=..
export AZURE_API_BASE=...
export AZURE_API_KEY=...
